# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite
*.sqlite3
.env
.venv
env/
venv/
ENV/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Docker
.dockerignore

# Runtime output
*.log
agent/agent.log
backend/devices.db

# IDEs
.vscode/
.idea/

# OS
.DS_array
.DS_Store
Thumbs.db
