# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_array
.DS_Store
Thumbs.db